<a href="https://colab.research.google.com/github/Honey-ye4m/MMDT_T-PY101_Batch03/blob/main/Hannilwin/exercises/Ex02_datatypes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Ex 1 : Check the lenght of the string "My name is python"

In [ ]:
Str = len("My name is python")
print(str)

Ex 2: Check the number of times "python" (regardless of cases: PYTHON, python, Python" appears in the paragraph : "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."

In [ ]:
paragraph = "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."
paragraph_lower = paragraph.lower()
count_python=paragraph_lower.count("python")
print(count_python)

Ex 3: Combine two lists : ls1 = ["apple", "banana", "cherry"] and ls2 = ["apple", "banana", "cherry", "apple", "cherry"]. Print the number of elements in new list.

In [5]:
ls1 = ["apple", "banana", "cherry"]
ls2 = ["apple", "banana", "cherry", "apple", "cherry"]
combine_list= ls1+ls2

print("combine_list;",combine_list)

combine_list; ['apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'cherry']

Ex 4: Create a dictionary for the following table:

| Name | Age |
| --- | --- |
| Myo | 32 |
| Thida | 64 |

In [7]:
people = {
    "Myo": 32,
    "Thida": 64
}

print(people)

{'Myo': 32, 'Thida': 64}

Ex 5: Combine two sets and print the combined set and its length.
set1 = {"Name", "age", "Height"}
set2 = {"Name", "status", "Education"}

In [11]:
set1 = {"Name", "age", "Height"}
set2 = {"Name", "status", "Education"}
combine = set1.union(set2)
print(combine)
print("length is",len(combine))

{'Education', 'Name', 'status', 'age', 'Height'}
length is 5

Ex 6: Write a program that asks the user to enter a string. The program should create a new string called new_string from the user's string such that the second character is changed to an asterisk and three exclamation points are attached to the end of the string. Finally, print new_string.

In [ ]:
user_string = input("Enter a string: ")

if len(user_string) >= 2:
    new_string = user_string[0] + '*' + user_string[2:] + '!!!'
else:
    # Make sure it works even if string has only 1 character
    new_string = '*' + user_string[1:] + '!!!'

print("New String:", new_string)

Ex 7: Write a program that converts the given string 's' to lowercase, removes all Punctuation marks such as period, hyphen, and commas from 's', and prints the resulting string.

In [ ]:
paragraph_string = "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."
paragraph_lower = paragraph_string.lower()
remove_punctuations = ",.-"
replace_string = paragraph_string.replace(remove_punctuations)
print(replace_string)

Ex 8: L1 and L2 should be identical. Write a program that finds the missing number in L2.

In [ ]:
L1 = [1, 2, 3, 4, 5]
L2 = [2, 3, 1, 5]

# Find missing number
for num in L1:
    if num not in L2:
        missing = num
        break

print("Missing number in L2:", missing)

Ex 9: Write a program to copy the ls1 = ["apple", "banana", "cherry"] to a new list. Add the element "blueberry" to the new list, but keep the original list the same.

In [ ]:
 ls1 ="apple", "banana", "cherry"
 new_string = "blueberry"
 add = ls1.append(new_string)
 print("oldlists:",ls1)
 print("newlists:", add)